<app-header></app-header>
<div class="container-fluid">
<table class="w-100 mt-5 table table-bordered table-hover table-striped text-center">
    <thead>
    <tr style="border:1px solid gray" class="text-primary">
        <th>orders id</th>
        <th>product name</th>
        <th>quantity</th>
        <th>price each</th>
        <th>total</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let o of singleorder">
        <td>{{o.order_id}}</td>
        <td>{{o.title}}</td>
        <td>{{o.qty}}</td>
        <td>{{o.price}}</td>
        <td class="text-primary">{{o.totaled}}</td>
    </tr> 
    <tr class="table-dark">
        <td colspan="4">Total</td>
        <td>{{totalty}}</td>
    </tr>
</tbody>
</table>
</div>