<div class="w-100 navbar-container">
  <nav class="navbar container navbar-expand-lg navbar-dark bg-transparent">
    <div class="container-fluid">
      <a class="navbar-brand text-black font-weight-bold" href="/">BizNex</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-black" aria-current="page" routerLink="/">
              <i class="fa fa-home text-black "></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" aria-current="page" routerLink="/about">
              <i class="fa fa-info-circle"></i> About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" aria-current="page" routerLink="/contact">
              <i class="fa fa-envelope"></i> Contact
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" *ngIf="flag" href="/admin">
              <i class="fa fa-cogs"></i> Admin
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="/cart" tabindex="-1">
              <i class="fa fa-shopping-cart"></i> Cart
            </a>
          </li>
        </ul>
        <li style="list-style:none;" class="nav-item dropdown text-white">
          <a class="nav-link dropdown-toggle text-black font-weight-bold" href="/pofiles" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="text-black font-weight-bold fa fa-user"></i> {{name}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/login" *ngIf="!isLoggedIn">
                <i class="fa fa-sign-in-alt"></i> Login
              </a></li>
            <li><a class="dropdown-item" href="/signup" *ngIf="!isLoggedIn">
                <i class="fa fa-user-plus"></i> Signup
              </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a *ngIf="isLoggedIn && !flag" class="dropdown-item" href="/profiles">
                <i class="fa fa-user"></i> Profile
              </a></li>
            <li><a href="" class="dropdown-item" (click)="logout()" *ngIf="isLoggedIn">
                <i class="fa fa-sign-out-alt"></i> Logout
              </a></li>
          </ul>
        </li>
      </div>
    </div>
  </nav>
</div>
