<section class="w-100 breadcrumb">
	<div class="container mt-5 p-5 mb-5">
		<h2 class="text-white">Contact Us</h2>
	</div>
</section>

<section class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
            <div class="containers">

            <form action="action_page.php">
                <div class="rows">
                  <div class="col-25">
                    <label for="fname">full Name</label>
                  </div>
                  <div class="col-75">
                    <input type="text" id="fname" name="fullname" placeholder="Your full name">
                  </div>
                </div>
                <div class="rows">
                  <div class="col-25">
                    <label for="lname">Email</label>
                  </div>
                  <div class="col-75">
                    <input type="email" id="lname" name="email" placeholder="Email">
                  </div>
                </div>
                <div class="rows">
                  <div class="col-25">
                    <label for="subject">Subject</label>
                  </div>
                  <div class="col-75">
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                  </div>
                </div>
                <div class="rows">
                  <input type="submit" value="Submit">
                </div>
              </form> 
        </div>
    </div>
        <div class="mt-md-4 col-xl-6 col-lg-6 col-md-12 col-12 text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d706.9078108893866!2d31.007882067002157!3d30.57555555593728!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7d78ad00386ef%3A0xda0cac26ecbe9b27!2sFaculty%20of%20Artificial%20Intelligence%2C%20Menofia%20University!5e0!3m2!1sen!2seg!4v1707764939210!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    

</section>