<section class="w-100 breadcrumb">
	<div class="container mt-5 p-5 mb-5">
		<h2 class="text-white">About Us</h2>
	</div>
</section>
<section class="abou mt-5 container mb-5">
	<h2 class="text-center">About us</h2>
	<p>At BizNex, we've crafted a powerful platform that serves as the heartbeat of collaboration for Micro, Small, and Medium-Sized Enterprises (MSMEs). Our mission is to facilitate connections, empower competitiveness, and support mutual growth. Through a community-based approach, we bridge the gap between businesses and consumers, making interactions seamless and transactions swift.</p>
	<p>Investors gain a valuable edge with our AI-driven insights, making informed decisions for a prosperous future. For MSMEs, BizNex is not just a platform—it's a lifeline. Our user-friendly online hub and mobile app provide quick access to a world of resources, customer networks, and investor opportunities.</p>
	<p>We foster collaboration among MSMEs, enhancing the quality of services they offer. Incubators find a strategic partner in BizNex, supporting their mission to develop and nurture budding businesses.</p>
	<p>As we pave the way for a new era of business connectivity, BizNex stands as the catalyst for growth, innovation, and prosperity. Join us, and let's build success together. BizNex: Connecting MSMEs, Fueling Growth Together.</p>
</section>

<section class="text-center our-team container mt-5">
<h2>OUR TEAM</h2>

</section>
<section class="container teamss">
	<div>
		<img src="../../../../assets/images/" alt="">
		<h3>Mahmoud Fawzy</h3>
		<p>Founder</p>
	</div>
	
	<div>
		<img src="../../../../assets/images/" alt="">
		<h3>Farah Aboalazum</h3>
		<p>Founder</p>

	</div>
</section>
<section class="teamsss container">
	<div>
		<img src="../../../../assets/images/" alt="">
		<h3>Osama</h3>
		<p>Founder</p>

	</div>
	
	<div>
		<img src="../../../../assets/images/" alt="">
		<h3>Nada Medhat</h3>
		<p>Founder</p>

	</div>
</section>

