<app-header></app-header>
<div class="p-3 col-xl-4 col-lg-4 col-6 col-md-6 search container">
  <input type="search" name="search" placeholder="search" (input)="search()" [(ngModel)]="title" id="" class="form-control">
</div>
<div class="container-fluid">
<table class="w-100 mt-3 table table-bordered table-hover table-striped text-center">
<thead>
  <tr class="text-primary" style="border:2px solid rgb(195, 195, 195);">
    <th>Title</th>
    <th>Image</th>
    <th>Price</th>
    <th>Detils</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  <tr class="table-light" *ngFor="let p of products | paginate: { itemsPerPage: 12, currentPage: page, totalItems: total }">
    <td>{{p.title}}</td>
    <td><img width="150" src="{{imgsrc}}/{{p.image}}" alt="{{p.image}}"></td>
    <td>{{p.price}} EGP</td>
    <td>{{p.details}}</td>
    <td><a routerLink="/products/edit/{{p.SKU}}" class=""><i class="fa fa-pencil"></i></a> <a style="cursor:pointer" (click)="DeleteProd(p.id)" class="mx-3 text-danger"><i class="fa fa-close"></i></a></td>

  </tr>
</tbody>
</table>
</div>
<pagination-controls class="text-center" (pageChange)="pageChangeEvent($event)"></pagination-controls>
