

 <!-- <section id="products">
    <div class="container ">
    <div class="row col-4 " > -->

<!-- <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 " > -->
    <div class="card">
        <div class="zoom-img">
        <a routerLink="product/{{product.id}}">
            <img class="card-img-top img-thumbnail" src="{{imgsrc}}/{{product.image}}" alt="{{product.image}}">
            
    </a>
</div>
        <div class="card-body">
            <h5 style="text-transform:capitalize ;"><b>{{product.title}}</b> </h5>
            <div class="row">
                <div style="font-weight:bolder;font-size:18px;" class="col-xl-6 col-lg-6 col-md-6 col-12 text-muted mb-3">price: {{product.price}} EGP</div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <!-- <button class="border rounded bg-white sign"><span class="fa fa-plus" id="orange"></span></button> -->
                    <!-- <span class="px-sm-1">0</span> -->
                    <button style="font-size:15px" class="btn btn-primary me-2 " (click)="minus()"> <i class="fa fa-minus"></i> </button>

                    <input type="" class="p-1 text-center" style="width:80px;font-size:17px;border:1px solid rgb(0, 110, 255)" [(ngModel)]="quantity">
                    <button style="font-size:15px" class="btn btn-primary mx-2" (click)="plus()"><i class="fa fa-plus"></i></button>

                    <!-- <button class="border rounded bg-white sign"><span class="fa fa-minus" id="orange"></span></button> -->
                </div>
            </div>
            <button class="btn w-100 btn-outline-primary my-2" (click)="Addtocart()">Add to cart</button>
        </div>
    </div>
<!-- </div> -->











<!-- </div>
</div>
</section> -->
