<header class="w-100 bg-primary">
  <nav class="navbar container navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">BizNex</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" style="text-decoration:none;" routerLinkActive="active" routerLink="/admin">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" style="text-decoration:none;" routerLinkActive="active" routerLink="/AddProducts">Add Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" style="text-decoration:none;" routerLinkActive="active" routerLink="/orders">Orders</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" style="text-decoration:none;" href="#" id="navbarDropdown"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="text-secondary fa fa-user"></i> {{name}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a href="" class="dropdown-item" (click)="logout()" *ngIf="isLoggedIn">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
