<ng-template  #FalseBlock>
    <div class="spinner-border text-success" style="font-size:20px;top:50%;position:absolute;left:45%"></div>
  </ng-template>

  <section class="container mt-3 d-flex justify-content-center" *ngIf="profile;else FalseBlock">
        <div class="bg-white col-xl-7 col-lg-7 col-md-12 col-sm-12 p-3" style="border-radius:5px; box-shadow:1px 1px 1px 1px black;">
            <h3>ADDRESS DETAILS</h3>
            <hr>
            <p style="font-weight:bolder;text-transform:capitalize">{{profile.users.name}}</p>
            <p class="text-muted">{{profile.users.address}}</p>
            <p class="text-muted">{{profile.users.phone}}</p>
            <div class="mt-5">
                <table class="w-100 mt-5 table table-bordered table-hover table-striped text-center">
                    <thead>
                       <tr class="text-primary">
                       <td>order_id</td>
                       <td>total</td>
                       <td>status</td>
                       <td>Order Date</td>
                       <td>Action</td>
                       
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let o of profile.orders">
                    <td>{{o.id}} </td> 
                    <td>{{o.total}} EGP</td> 
                    <td>{{o.status}} </td>
                    <td>{{o.created_at}} </td>
                    <td><a *ngIf="o.id && o.status =='pending'" (click)="DeleteOrder(o.id)" class="me-3"><i class="text-danger fa fa-close"></i></a> <a (click)="Orderchange(o.id)"  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="text-primary fa fa-eye"></i></a></td>
                    
                    </tr>
                    </tbody>
                 </table>
                 
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content p-3">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Order products</h1>
                          <button (click)="orderdelete()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <table class="p-5 w-100 mt-5 table table-bordered table-hover table-striped text-center">
                          <thead>
                             <tr class="text-primary" style="border:2px solid gray">
                                <th>title</th>
                                <th>price</th>
                                <th>quantity</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let p of orders">
                          <td>{{p.title}}</td> 
                          <td>{{p.price}} EGP</td> 
                          <td>{{p.qty}} </td>
                          </tr>
                          
                          </tbody>
                       </table>
                    
            </div>
        
                    </div>
                
                  </div>
            </div>
        </div>
    </section>
  